/* cascading stylesheet */
body {
    background-color: rgb(244, 244, 244);
    text-align: center;
}

.container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.left-panel {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 10px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


.grid {
    width: 200px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    border-width: 1px;
    border-color: solid black;
    background-color: rgb(234, 234, 206);
    margin-bottom: 10px;
}

.grid div {
    width: 20px;
    height: 20px;
    /* border-width: 1px; */
    /* border-right: solid rgb(240, 234, 201);
    border-top: solid rgb(240, 234, 201);
    border-left: solid rgb(175, 161, 91);
    border-bottom: solid rgb(175, 161, 91); */
}

.tetramino {}

.taken {
    background-color: rgb(148, 0, 0);
}

#start-button {
    background-color: white;
    color: #4CAF50;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #4CAF50;
    /* Green */
    transition-duration: 0.4s;
}

#start-button:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(234, 234, 206);
    margin-bottom: 20px;
}

.mini-grid div {
    width: 20px;
    height: 20px;
    /* border-width: 1px;
    border-right: solid rgb(240, 234, 201);
    border-top: solid rgb(240, 234, 201);
    border-left: solid rgb(175, 161, 91);
    border-bottom: solid rgb(175, 161, 91); */
}